{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "targets": {
          "node": 16,
          "chrome": 95,
          "electron": 12
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-throw-expressions",
    "@babel/plugin-proposal-export-default-from"
  ]
}